.container {
    width: 950px;
    height: 900px;
    background-color: lightgray;
    margin-left: 250px;
}

h1 {
    font-size: 300%;
    text-align: center;
    padding-top: 25px;
}

.sub-content1 {
    width: 850px;
    height: 230px;
    background-color: lightskyblue;
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.sub-content2 {
    width: 850px;
    height: 230px;
    background-color: purple;
    margin: 20px 50px;
    display: flex;
    justify-content: space-evenly;
}

.sub-content3 {
    width: 850px;
    height: 230px;
    background-color: whitesmoke;
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
}

.show img {
    width: 220px;
    height: 170px;
    object-fit: cover;
    margin: 20px;
}

p {
    text-align: center;
}